about-time==3.1.1
alive-progress==2.4.1
arrow==1.2.2
asgiref==3.5.2
attrs==21.4.0
Authlib==1.0.1
beautifulsoup4==4.11.1
binaryornot==0.4.4
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
cookiecutter==2.1.1
cryptography==37.0.2
defusedxml==0.7.1
Django==4.0.5
django-allauth==0.50.0
django-browser-reload==1.6.0
entrypoints==0.4
fastjsonschema==2.15.3
Flask==2.1.2
Flask-Login==0.6.1
Flask-SQLAlchemy==2.5.1
google==3.0.0
grapheme==0.6.0
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
jinja2-time==0.2.0
jsonschema==4.5.1
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
MarkupSafe==2.1.1
mistune==0.8.4
multidict==6.0.2
nest-asyncio==1.5.5
oauthlib==3.2.0
packaging==21.3
pandocfilters==1.5.0
poyo==0.5.0
psycopg2==2.9.3
pyasn1==0.4.8
pycparser==2.21
Pygments==2.12.0
PyJWT==2.4.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
pypresence==4.2.1
pyrepl==0.9.0
pyrsistent==0.18.1
python-dateutil==2.8.2
python-slugify==6.1.2
python3-openid==3.2.0
pywin32==304
PyYAML==6.0
pyzmq==22.3.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.39
sqlparse==0.4.2
termcolor==1.1.0
testfixtures==6.18.5
text-unidecode==1.3
tinycss2==1.1.1
tornado==6.1
traitlets==5.2.0
tzdata==2022.1
urllib3==1.26.9
webencodings==0.5.1
Werkzeug==2.1.2
wmctrl==0.4
xargs==0.4.3
